<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_robotiq">

  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
  <xacro:include filename="$(find pr2_description)/urdf/common.xacro" />
  <xacro:include filename="$(find pr2_description)/urdf/sensors/kinect2.urdf.xacro" />

  <xacro:ur5_robot prefix="" joint_limited="false"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.7" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:robotiq_85_gripper prefix="" parent="wrist_3_link" >
    <origin xyz="0 0.1 0" rpy="0 0 ${pi/2}"/>
  </xacro:robotiq_85_gripper>

  <xacro:kinect2_v0 name="" parent="world" >
    <origin xyz="0.4 0.0 1.2" rpy="0.0 ${pi/2} 0.0" />
  </xacro:kinect2_v0>
</robot>
