<!--
    Date of creation: 5/II/2018
    Application created by: Miguel Angel Rodriguez <duckfrost@theconstructsim.com>
    The Construct http://www.theconstructsim.com
    License LGPLV3 << Basically means you can do whatever you want with this!
-->

<launch>
  <arg name="controller" default="vel"/> <!-- 'vel' or 'traj_vel'-->

  <!-- Load the parameters for the algorithm -->
  <rosparam command="load" file="$(find ur_training)/config/default_params.yaml" />

  <!-- Launch the training system -->
  <node pkg="ur_training" name="ur_gym" type="default.py" output="screen" args="$(arg controller)"/>
</launch>